.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: 3rem;
}

h1{
margin: 0.5rem 0;
}

.card{
    width: 100%;
    margin-top: 0.5rem;
    border: none;
}

.logo{
    height: 14vh;
    width: 14vh;
    margin: 0.5rem auto;
}

.list-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    bottom: 2rem;
}

.list-group-item{
    margin-top: 1.5rem;
   border-radius: 0.5rem;
}

.list-group-item:hover{
    background-color: #146e09;
}

.list-group-item:hover a{
    color: white;
}

.list-group-link{
    font-size: 1.2rem;
}


#installButton{
    width: 100vw;
    display: none;
}

.dropdown{
    width: 100vw;
}

.dropdown button{
    background: white;
    color: #0a53be;
    width: 50%;
}

.dropdown ul{
    text-align: start;
    width: 95%;
    margin: 1.5rem auto;
    padding: 1.5rem 2rem;
    border: none;
}

.dropdown ul li{
    padding: 0.5rem;
}

.dropdown ul li:nth-child(2n){
    background: #0a58ca;
    color: white;

}

.containergroupe{
    height: 70vh;
}

.listeMembers{
    border: 1px solid black;
    padding: 0.5rem 1.2rem;
    width: 50%;
    margin: 0.5rem 2rem;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
}
